In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [3]:
data=pd.read_csv(r"D:\car_prices_updated.csv")
data

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5
13                 BMW X5    52000          29000         4
14                 BMW X5    61000          24000         5
15                 BMW X5    18000          42000         1
16                Audi A4    40000          28000         3
17                Audi A4    65000          21000         6
18       Mercedes C Class    30000          35000         2
19       Mercedes C Class    55000          26000         5
20       Mercedes C Class    72000          22000         7
21         Toyota Corolla    50000          18000         4
22         Toyota Corolla    80000          14000         8

In [5]:
dummy=pd.get_dummies(data['Car Model'],dtype=int)
dummy

,Audi A4,Audi A5,BMW X5,Mercedes C Class,Mercedez Benz C class,Toyota Corolla
0,0,0,1,0,0,0
1,0,0,1,0,0,0
2,0,0,1,0,0,0
3,0,0,1,0,0,0
4,0,0,1,0,0,0
5,0,1,0,0,0,0
6,0,1,0,0,0,0
7,0,1,0,0,0,0
8,0,1,0,0,0,0
9,0,0,0,0,1,0
10,0,0,0,0,1,0
11,0,0,0,0,1,0
12,0,0,0,0,1,0
13,0,0,1,0,0,0
14,0,0,1,0,0,0
15,0,0,1,0,0,0
16,1,0,0,0,0,0
17,1,0,0,0,0,0
18,0,0,0,1,0,0
19,0,0,0,1,0,0
20,0,0,0,1,0,0
21,0,0,0,0,0,1
22,0,0,0,0,0,1

In [6]:
merged_data=pd.concat([data,dummy],axis='columns')
merged_data

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A4,Audi A5,BMW X5,Mercedes C Class,Mercedez Benz C class,Toyota Corolla
0,BMW X5,69000,18000,6,0,0,1,0,0,0
1,BMW X5,35000,34000,3,0,0,1,0,0,0
2,BMW X5,57000,26100,5,0,0,1,0,0,0
3,BMW X5,22500,40000,2,0,0,1,0,0,0
4,BMW X5,46000,31500,4,0,0,1,0,0,0
5,Audi A5,59000,29400,5,0,1,0,0,0,0
6,Audi A5,52000,32000,5,0,1,0,0,0,0
7,Audi A5,72000,19300,6,0,1,0,0,0,0
8,Audi A5,91000,12000,8,0,1,0,0,0,0
9,Mercedez Benz C class,67000,22000,6,0,0,0,0,1,0
10,Mercedez Benz C class,83000,20000,7,0,0,0,0,1,0
11,Mercedez Benz C class,79000,21000,7,0,0,0,0,1,0
12,Mercedez Benz C class,59000,33000,5,0,0,0,0,1,0
13,BMW X5,52000,29000,4,0,0,1,0,0,0
14,BMW X5,61000,24000,5,0,0,1,0,0,0
15,BMW X5,18000,42000,1,0,0,1,0,0,0
16,Audi A4,40000,28000,3,1,0,0,0,0,0
17,Audi A4,65000,21000,6,1,0,0,0,0,0
18,Mercedes C Class,30000,35000,2,0,0,0,1,0,0
19,Mercedes C Class,55000,26000,5,0,0,0,1,0,0
20,Mercedes C Class,72000,22000,7,0,0,0,1,0,0
21,Toyota Corolla,50000,18000,4,0,0,0,0,0,1
22,Toyota Corolla,80000,14000,8,0,0,0,0,0,1

In [7]:
final=merged_data.drop(['Car Model','Toyota Corolla'],axis='columns')
final

,Mileage,Sell Price($),Age(yrs),Audi A4,Audi A5,BMW X5,Mercedes C Class,Mercedez Benz C class
0,69000,18000,6,0,0,1,0,0
1,35000,34000,3,0,0,1,0,0
2,57000,26100,5,0,0,1,0,0
3,22500,40000,2,0,0,1,0,0
4,46000,31500,4,0,0,1,0,0
5,59000,29400,5,0,1,0,0,0
6,52000,32000,5,0,1,0,0,0
7,72000,19300,6,0,1,0,0,0
8,91000,12000,8,0,1,0,0,0
9,67000,22000,6,0,0,0,0,1
10,83000,20000,7,0,0,0,0,1
11,79000,21000,7,0,0,0,0,1
12,59000,33000,5,0,0,0,0,1
13,52000,29000,4,0,0,1,0,0
14,61000,24000,5,0,0,1,0,0
15,18000,42000,1,0,0,1,0,0
16,40000,28000,3,1,0,0,0,0
17,65000,21000,6,1,0,0,0,0
18,30000,35000,2,0,0,0,1,0
19,55000,26000,5,0,0,0,1,0
20,72000,22000,7,0,0,0,1,0
21,50000,18000,4,0,0,0,0,0
22,80000,14000,8,0,0,0,0,0

In [10]:
reg=linear_model.LinearRegression()
reg.fit(final[['Mileage','Age(yrs)','Audi A4','Audi A5','BMW X5','Mercedes C Class','Mercedez Benz C class']],data['Sell Price($)'])

LinearRegression()

In [16]:
output=reg.predict([[2600,6,0,0,0,0,0]])

E:\anaconda\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [17]:
output

array([61630.13327017])

In [18]:
reg.score(final[['Mileage','Age(yrs)','Audi A4','Audi A5','BMW X5','Mercedes C Class','Mercedez Benz C class']],final['Sell Price($)'])

0.9402768434592567

In [19]:
import pickle

In [20]:
with open("CarPrices","wb") as f:
    pickle.dump(reg,f)

In [21]:
with open("CarPrices","rb") as f:
    da=pickle.load(f)

In [23]:
da.predict([[4500,9,0,0,1,0,0]])

E:\anaconda\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([78003.67319726])

In [24]:
da.score(final[['Mileage','Age(yrs)','Audi A4','Audi A5','BMW X5','Mercedes C Class','Mercedez Benz C class']],final['Sell Price($)'])

0.9402768434592567